#question {
  list-style-type: none;
}

@media only screen and (max-width: 500px) {
    .button-create-poll::after {
      content: ' + ';
    }
    .button-create-poll span {
      display: none;
    }
}

